@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(248, 237, 223);
}

body {
    padding: 2%;
    background-color: rgb(7, 8, 31);
}

h1 {
    align-content: center;
}

#formFicha {
    display: flex;
}

.linha1, .linha3, .linha4, .linha5 {
    flex-direction: row;
    justify-content: flex-start;
}

.linha1, .linha2, .linha3, .linha4, .linha5 {
    margin-bottom: 10px;
}

label, button {
    margin: 5px;
}

textarea {
    resize: none;
    margin-bottom: 10px;
    background-color: rgb(18, 10, 27);
    height: 150px;
  }

  input {
    background-color: rgb(18, 10, 27);
    border-radius: 10px;
    padding: 2px;
    padding-left: 8px;
    border-color: rgb(33, 33, 33);
  }

button {
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 10px;
}

